:root {
    --qport: #FCC2BD;
    --cport: #95E6D8;
}

.node.quantum-circuit .output-title {
    color: var(--qport) !important;
}

.node.measure .input-title {
    color: var(--qport) !important;
}

.node.measure .output-title {
    color: var(--cport) !important;
}

.node.circuit-output .input-title {
    color: var(--cport) !important;
}

.node.hadamard-gate .input-title, .output-title {
    color: var(--qport) !important;
}