html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-size: 1rem;
    background-color: #0e1616;
    padding: 5rem;
    display: flex;
}

.title-area {

}

.content-area {
    width: 100%;
    display: block;
}

.title-content-spacer {
    margin-left: 5rem;
}

@media only screen and (max-width: 1100px) {
    body {
        display: block;
    }
}

@media only screen and (min-width: 1500px) {
    .summary-code {
        width: 709px;
    }
}

.summary-code {
    border: 1px solid grey;
    border-radius: 4px;
    font-family: 'Cutive Mono', monospace;
    background-color: #0b0f0b;
}

.summary-code p {
    margin: 1em;
    color: #93969d;
}

.public-route-holder {
    margin: 1em 0 1em 0;
    display: flex;
}

.public-route {
    padding: 1em;
    border: 1px solid grey;
    border-radius: 3px;
    font-family: 'Cutive Mono', monospace;
    color: #93969d;
    background-color: #0b0f0b;
    text-decoration: none;
    margin-right: 1em;
}

.public-route:hover {
    text-decoration: underline;
}

#main-title {
    font-family: 'Major Mono Display', monospace;
    font-size: 5em;
    font-weight: normal;
    color: #D6DBE5;
    margin: 0;
    opacity: 0;
    animation: fadeIn 1s forwards 0s linear;
}

.personal-links {
    display: flex;
}

.link {
    margin: 1em 1.5em 1em 0.5em;
    font-size: 1.5em;
    color: #3A5682;
    font-family: 'Cutive Mono', monospace;
    opacity: 0;
}

.link-icon {
    position: absolute;
    height: 1em;
}

.link-text {
    padding-left: 1.4em;
}

.link:nth-of-type(1) {
    animation: fadeIn 1s forwards 0.25s linear;
}

.link:nth-of-type(2) {
    animation: fadeIn 1s forwards 0.5s linear;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.nice-moniter {
    position: absolute;
    left: 3250px;
    width: 200px;
}