body {
    background-color: #0F1610;
    padding: 5em;
}

#main-title {
    font-family: 'Major Mono Display', monospace;
    font-size: 5em;
    font-weight: normal;
    color: #D6DBE5;
    margin: 0;
}

.personal-links {
    display: flex;
}

.link {
    margin: 1em 1.5em 1em 0.5em;
    font-size: 1.5em;
    color: #3A5682;
    font-family: 'Cutive Mono', monospace;
}

.link-icon {
    position: absolute;
    height: 1em;
}

.link-text {
    padding-left: 1.4em;
}