body {
    background-color: #0F1610;
    padding: 5em;
}

#main-title {
    font-family: 'Major Mono Display', monospace;
    font-size: 5em;
    font-weight: normal;
    color: #D6DBE5;
    margin: 0;
    opacity: 0;
    animation: fadeIn 1s forwards 0s linear;
}

.personal-links {
    display: flex;
}

.link {
    margin: 1em 1.5em 1em 0.5em;
    font-size: 1.5em;
    color: #3A5682;
    font-family: 'Cutive Mono', monospace;
    opacity: 0;
}

.link-icon {
    position: absolute;
    height: 1em;
}

.link-text {
    padding-left: 1.4em;
}

.link:nth-of-type(1) {
    animation: fadeIn 1s forwards 0.25s linear;
}

.link:nth-of-type(2) {
    animation: fadeIn 1s forwards 0.5s linear;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
        }
    100%{
        transform: rotate(xx);
        opacity: 1;
        }
}